
<%-include('layout/header')%>

<h1>emma</h1>
<div class="container">
<div class="row my-4">
  <div class="col-lg-12">
    <table class="table-responsive">
      <table id="table" class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th>ID</th>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ACTION</th>
          </tr>
        </thead>
      
          <tr>
            <td>emmma</td>
            <td> nee </td>
            <td> nee </td>
            <td> nee </td>
            <td> nee </td>
            <td> nee </td>


          </tr>
         
        </Tbody>
      </table>

      
    </table>
  </div>
</div>
</div>
<script>
$(document).ready(function () {
  $("#table").dataTable();
});
</script>

</body>